@font-face {
  font-display: swap;
  font-family: "Fraunces";
  src: url("../assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf");
}
@font-face {
  font-display: swap;
  font-family: "Manrope";
  src: url("../assets/fonts/manrope/Manrope-VariableFont_wght.ttf");
}
:root {
  --green: hsl(150, 100%, 63%);
  --purple-100: hsl(274, 100%, 99%);
  --purple-500: hsl(271, 12%, 34%);
  --purple-900: hsl(273, 85%, 13%);
  --slate-100: hsl(274, 100%, 99%);
  --slate-500: hsl(271, 12%, 34%);
  --slate-900: hsl(222, 47%, 11%);
  --white: hsl(0, 0%, 100%);
}

.workit_logo_dimensions, .footer__logo, .navigation__logo {
  height: 26px;
  width: 97px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  line-height: 1.5;
  min-height: 100%;
  text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

::selection {
  background: var(--green);
  color: var(--slate-900);
}

.screen_reader_only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.background_pattern {
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s linear, transform 0.5s;
}
@media screen and (min-width: 768px) {
  .background_pattern {
    opacity: 1;
  }
}

#background_pattern_one {
  height: 317px;
  left: calc(-341px + clamp(117px, 14vw, 201px));
  top: clamp(58px, 7.4vw, 106px);
  width: 341px;
}
@media screen and (min-width: 1440px) {
  #background_pattern_one {
    transform: translate(39px, 32px);
  }
}

#background_pattern_two {
  height: 181px;
  right: calc(-174px + clamp(79px, 10vw, 127px));
  top: clamp(262px, 33vw, 342px);
  width: 174px;
}

#background_pattern_three {
  bottom: calc(-212px + clamp(98px, 12.6vw, 147px));
  height: 212px;
  right: clamp(13.71px, 1.6vw, 22.71px);
  width: 221px;
}
@media screen and (min-width: 1440px) {
  #background_pattern_three {
    transform: translateX(-85px);
  }
}

.button__primary {
  background-color: var(--green);
  border: 1px solid var(--green);
  color: var(--slate-900);
  cursor: pointer;
  font: 700 clamp(1rem, 4vw, 1.125rem)/1.5 "Manrope", sans-serif;
  padding: 13px 31px;
}
.button__primary:hover, .button__primary:focus {
  background-color: var(--purple-900);
  clip-path: polygon(-1px 0px, 0px -1px, 100% -1px, calc(100% + 1px) 0px, calc(100% + 1px) 100%, 100% calc(100% + 1px), 0px calc(100% + 1px), -1px 100%);
  color: var(--green);
  outline: 1px solid var(--green);
}

.button__secondary {
  background-color: var(--purple-900);
  border: none;
  border-bottom: 3px solid var(--green);
  color: var(--white);
  cursor: pointer;
  font: 700 1.125rem/1.5 "Manrope", sans-serif;
  padding: 3px 1px 3px 0px;
}
.button__secondary:hover, .button__secondary:focus {
  color: var(--green);
}

.navigation {
  align-items: flex-end;
  background-color: var(--purple-900);
  display: flex;
  height: 4.188rem;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .navigation {
    height: clamp(4.188rem, 8.6vw, 5.688rem);
  }
}

.navigation__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: clamp(18.125rem, 89.3vw, 42.5rem);
}
@media screen and (min-width: 768px) {
  .navigation__content {
    width: clamp(42.5rem, 88.4vw, 70rem);
  }
}

.hero {
  overflow: hidden;
  position: relative;
}

.hero__content {
  align-items: center;
  background-color: var(--purple-900);
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  height: clamp(24.375rem, 103vw, 26.063rem);
}
@media screen and (min-width: 768px) {
  .hero__content {
    height: clamp(26.063rem, 54.1vw, 38rem);
  }
}

.hero__heading {
  font: 600 clamp(3rem, 12.7vw, 3.75rem)/100% "Fraunces", sans-serif;
  margin-top: 3.5rem;
  padding: 0 1rem;
  text-align: center;
  z-index: 1;
}
.hero__heading span {
  text-decoration-color: var(--green);
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 0px;
}
@media screen and (min-width: 768px) {
  .hero__heading {
    font-size: clamp(3.75rem, 7.7vw, 5rem);
  }
}

.hero__illustration {
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: clamp(266px, 82.6vw, 498px);
}
@media screen and (min-width: 768px) {
  .hero__illustration {
    width: clamp(498px, 64.7vw, 742px);
  }
}

.hero__ornamental_background {
  background-color: var(--slate-100);
  height: clamp(6.5rem, 27vw, 12rem);
}
@media screen and (min-width: 768px) {
  .hero__ornamental_background {
    height: clamp(12rem, 24vw, 14.563rem);
  }
}

.hero__ornamental_curve {
  clip-path: ellipse(50% calc(100% - 1px) at top);
  background-color: var(--purple-900);
  height: clamp(1.5rem, 6.3vw, 3rem);
}
@media screen and (min-width: 768px) {
  .hero__ornamental_curve {
    clip-path: ellipse(50% calc(100% - 3px) at top);
    height: clamp(3.5rem, 7.1vw, 4.5rem);
  }
}
@media screen and (min-width: 1440px) {
  .hero__ornamental_curve {
    clip-path: ellipse(50% calc(100% - 4px) at top);
  }
}

#hero__button {
  z-index: 1;
}

.value {
  background-color: var(--slate-100);
}

.value__heading {
  font: 600 clamp(1.5rem, 6.3vw, 1.75rem)/120% "Fraunces", sans-serif;
  margin-bottom: clamp(1rem, 4.1vw, 1.75rem);
}
@media screen and (min-width: 768px) {
  .value__heading {
    font-size: clamp(1.75rem, 3.5vw, 2rem);
  }
}

.value__list {
  counter-reset: value;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  left: 50%;
  padding: 64px 0;
  position: relative;
  transform: translate(-50%, 0);
  width: clamp(18.125rem, 89.3vw, 31.5rem);
}
@media screen and (min-width: 768px) {
  .value__list {
    padding: clamp(56px, 7.1vw, 88px) 0 clamp(44px, 5.6vw, 80px);
    width: clamp(42.5rem, 88.4vw, 43.5rem);
  }
}
@media screen and (min-width: 1440px) {
  .value__list {
    flex-direction: row;
    padding-bottom: 144px;
    width: 70rem;
  }
}

.value__list_item {
  align-items: center;
  color: var(--slate-900);
  counter-increment: value;
  display: flex;
  flex-direction: column;
}
.value__list_item:before {
  height: 3rem;
  width: 3rem;
  align-items: center;
  border: 1px solid var(--slate-500);
  border-radius: 50%;
  content: counter(value);
  display: flex;
  font: 600 1.25rem/1.5 "Fraunces", sans-serif;
  justify-content: center;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .value__list_item {
    flex-direction: row;
  }
  .value__list_item:before {
    font-size: clamp(1.25rem, 2.5vw, 1.5rem);
    margin: 0 3.5rem 0 0;
  }
}
@media screen and (min-width: 1440px) {
  .value__list_item {
    flex-direction: column;
    width: 22rem;
  }
  .value__list_item:before {
    margin: 0 0 3.5rem 0;
  }
}

.value__list_item_text {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .value__list_item_text {
    text-align: left;
    width: clamp(36rem, 74vw, 37rem);
  }
}
@media screen and (min-width: 1440px) {
  .value__list_item_text {
    text-align: center;
    width: 100%;
  }
}

.value__ornamental_background {
  background-color: var(--white);
  height: clamp(1.5rem, 6.3vw, 3rem);
  position: relative;
}
@media screen and (min-width: 768px) {
  .value__ornamental_background {
    height: 4.5rem;
  }
}

.value__ornamental_curve {
  clip-path: ellipse(50% calc(100% - 1px) at top);
  background-color: var(--slate-100);
  height: 100%;
}
@media screen and (min-width: 768px) {
  .value__ornamental_curve {
    clip-path: ellipse(50% calc(100% - 4px) at top);
  }
}

.value__paragraph {
  font: 1rem/180% "Manrope", sans-serif;
}
@media screen and (min-width: 768px) {
  .value__paragraph {
    font-size: clamp(1rem, 1.9vw, 1.125rem);
  }
}

.call_to_action {
  background-color: var(--white);
  display: flex;
  justify-content: center;
}

.call_to_action__card {
  align-items: center;
  background-color: var(--purple-900);
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 14.5rem;
  padding: clamp(2rem, 8vw, 3rem);
  position: relative;
  text-align: center;
  width: clamp(18.125rem, 89.3vw, 31.5rem);
}
@media screen and (min-width: 768px) {
  .call_to_action__card {
    align-items: flex-start;
    padding: clamp(3rem, 6vw, 4rem);
    margin-top: 10.5rem;
    text-align: left;
    width: clamp(31.5rem, 65.5vw, 45.625rem);
  }
}

.call_to_action__content {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .call_to_action__content {
    justify-content: flex-end;
    width: clamp(42.5rem, 88.4vw, 70rem);
  }
}

.call_to_action__heading {
  font: 600 clamp(2rem, 8.4vw, 3rem)/120% "Fraunces", sans-serif;
}
@media screen and (min-width: 768px) {
  .call_to_action__heading {
    font-size: clamp(3rem, 6.1vw, 3.5rem);
  }
}

.call_to_action__image {
  height: 280px;
  width: 280px;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .call_to_action__image {
    height: clamp(280px, 36.3vw, 477px);
    width: clamp(280px, 36.3vw, 477px);
    left: 0;
  }
}

.call_to_action__paragraph {
  font: 1rem/180% "Manrope", sans-serif;
}
@media screen and (min-width: 768px) {
  .call_to_action__paragraph {
    font-size: clamp(1rem, 1.9vw, 1.125rem);
  }
}

#call_to_action__button {
  z-index: 1;
}

.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  height: clamp(16.288rem, 33vw, 20.288rem);
  justify-content: center;
}

.footer__social {
  display: flex;
  gap: 1.75rem;
}

.footer__social_link {
  align-items: center;
  display: flex;
}
.footer__social_link .social_icon path {
  fill: var(--slate-500);
}
.footer__social_link:hover .social_icon path, .footer__social_link:focus .social_icon path {
  fill: var(--slate-900);
}

/*# sourceMappingURL=compiled_style.css.map */
