.background_pattern {
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s linear;

    // Tablet Breakpoint
    @media screen and (min-width: 48rem) {
        opacity: 1;
    }

    // Styling for Background Pattern 1
    // This pattern is in the hero section
    &__one {
        height: 317px;
        left: clamp(-224px, -392px + 21.875vw, -101px);
        top: clamp(-9px, -73px + 8.333vw, 47px);
        width: 341px;
    }

    // Styling for Background Pattern 2
    // This pattern is in the hero section
    &__two {
        height: 181px;
        right: clamp(-94px, -148.857px + 7.143vw, -46px);
        top: clamp(195px, 131px + 8.333vw, 251px);
        width: 174px;
    }

    // Styling for Background Pattern 3
    // This pattern is in the call-to-action card
    &__three {
        bottom: clamp(-113px, -169px + 7.292vw, -64px);
        height: 212px;
        right: clamp(14px, -93.429px + 13.988vw, 108px);
        width: 221px;
    }
}