#background_pattern_one {
    height: 317px;
    left: calc(-341px + clamp(117px, 14vw, 201px));
    opacity: 0;
    position: absolute;
    top: clamp(58px, 7.4vw, 106px);
    transition: opacity 0.3s linear, transform 0.5s;
    width: 341px;

    // Tablet Breakpoint
    @media screen and (min-width: 768px) {
        opacity: 1;
    }

    // Desktop Breakpoint
    @media screen and (min-width: 1440px) {
        transform: translate(39px, 32px);
    }
}

#background_pattern_two {
    height: 181px;
    opacity: 0;
    position: absolute;
    right: calc(-174px + clamp(79px, 10vw, 127px));
    top: clamp(262px, 33vw, 342px);
    transition: opacity 0.3s linear;
    width: 174px;

    // Tablet Breakpoint
    @media screen and (min-width: 768px) {
        opacity: 1;
    }
}

#background_pattern_three {
    bottom: calc(-212px + clamp(98px, 12.6vw, 147px));
    height: 212px;
    opacity: 0;
    position: absolute;
    right: clamp(13.71px, 1.6vw, 22.71px);
    transition: opacity 0.3s linear, transform 0.5s;
    width: 221px;
    z-index: 2;

    // Tablet Breakpoint
    @media screen and (min-width: 768px) {
        opacity: 1;
    }

    // Desktop Breakpoint
    @media screen and (min-width: 1440px) {
        transform: translateX(-85px);
    }
}