.button__primary {
    background-color: var(--green);
    color: var(--slate-900);
    cursor: pointer;
    font-size: clamp(1rem, 4vw, 1.125rem);
    padding: 12px 32px;
    // width: clamp(9.438rem, 40vw, 10.125rem);

    &:hover, &:focus {
        background-color: none;
        border: 1px solid var(--green);
        color: var(--green);
    }
}

.button__secondary {
    color: var(--white);

    &:hover, &:focus {
        color: var(--green);
    }
}