.button__primary {
    background-color: var(--green);
    border: 1px solid var(--green);
    color: var(--slate-900);
    cursor: pointer;
    font: 700 clamp(1rem, 4vw, 1.125rem)/1.5 $font-manrope;
    padding: 13px 31px;

    &:hover, &:focus {
        background-color: var(--purple-900);
        clip-path: polygon(
            -1px 0px, 
            0px -1px,
            100% -1px,
            calc(100% + 1px) 0px,
            calc(100% + 1px) 100%,
            100% calc(100% + 1px),
            0px calc(100% + 1px),
            -1px 100%
        );
        color: var(--green);
        outline: 1px solid var(--green);
    }
}

.button__secondary {
    background-color: var(--purple-900);
    border: none;
    border-bottom: 3px solid var(--green);
    color: var(--white);
    cursor: pointer;
    font: 700 1.125rem/1.5 $font-manrope;
    padding: 3px 1px 3px 0px;

    &:hover, &:focus {
        color: var(--green);
    }
}