.call_to_action {
    background-color: var(--white);
    display: flex;
    justify-content: center;
}

// This content div contains the call-to-action image and card
.call_to_action__content {
    display: flex;
    justify-content: center;
    margin: 7rem 1.25rem 0;
    max-width: 70rem;
    position: relative;
    width: 100%;

    // Tablet Breakpoint
    // Change in value of justify-content moves the card to the right of the content div
    @media screen and (min-width: 768px) {
        justify-content: flex-end;
        margin: 7rem clamp(2.75rem, -5.536rem + 17.262vw, 10rem) 0;
    }
}

.call_to_action__image {
    @include equal_height_and_width(clamp(280px, 54.857px + 29.315vw, 477px));
    object-fit: contain;
    position: absolute;

    // Tablet Breakpoint
    // Change in value of left moves the image to the left of the content div
    @media screen and (min-width: 768px) {
        left: 0;
    }
}

// This card contains the call-to-action heading
.call_to_action__card {
    align-items: center;
    background-color: var(--purple-900);
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 14.5rem;
    padding: clamp(32px, 16.733px + 4.071vw, 48px);
    position: relative;
    text-align: center;
    max-width: clamp(31.5rem, 15.357rem + 33.631vw, 45.625rem);


    // Tablet Breakpoint
    @media screen and (min-width: 768px) {
        align-items: flex-start;
        margin-top: 10.5rem;
        padding: clamp(48px, 29.714px + 2.381vw, 64px);
        text-align: left;
    }
}

.call_to_action__heading {
    font: 600 clamp(2rem, 1.046rem + 4.071vw, 3rem)/120% $font-fraunces;

    // Tablet Breakpoint
    @media screen and (min-width: 768px) {
        font-size: clamp(3rem, 2.429rem + 1.19vw, 3.5rem);
    }
}