.footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    height: clamp(16.288rem, 33vw, 20.288rem);
    justify-content: center;
}

// .footer__logo {

// }

.footer__social {
    display: flex;
    gap: 1.75rem;

    a {
        align-items: center;
        display: flex;
        
        .social_icon path {
            fill: var(--slate-500);
        }

        &:hover, &:focus {
            .social_icon path {
                fill: var(--slate-900);
            }
        }
    }
}