footer {
    align-items: center;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding: clamp(80px, 43.429px + 4.762vw, 112px) 0;
}

// Contains Facebook/Twitter/Instagram social links
.footer__social_links_container {
    display: flex;
    gap: 1.75rem;
}

.footer__social_link {

    svg {
        @include equal_height_and_width(20px);

        path {
            fill: var(--slate-500);
            transition: fill 0.25s linear;
        }
    }

    &:hover, &:focus {
        svg path {
            fill: var(--slate-900);
        }
    }
}