.footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    height: clamp(16.288rem, 33vw, 20.288rem);
    justify-content: center;
}

.footer__logo {
    @extend .workit_logo_dimensions;
}

.footer__social {
    display: flex;
    gap: 1.75rem;
}

.footer__social_link {
    @include social_icon_color(var(--slate-500));
    align-items: center;
    display: flex;

    &:hover, &:focus {
        @include social_icon_color(var(--slate-900));
    }
}