.hero {
    overflow: hidden;
    position: relative;
}

.hero__content {
    align-items: center;
    background-color: var(--purple-900);
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    height: clamp(24.375rem, 103vw, 26.063rem);

    // Tablet Breakpoint
    @media screen and (min-width: 768px) {
        height: clamp(26.063rem, 54.1vw, 38rem);
    }
}

.hero__heading {
    font: 600 clamp(3rem, 12.7vw, 3.75rem)/100% $font-fraunces;
    margin-top: 3.5rem;
    padding: 0 1rem;
    text-align: center;
    z-index: 1;

    span {
        // text-decoration: underline var(--green) solid 3px;
        text-decoration-color: var(--green);
        text-decoration-line: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 0px;
    }

    // Tablet Breakpoint
    @media screen and (min-width: 768px) {
        font-size: clamp(3.75rem, 7.7vw, 5rem);
    }
}

.hero__illustration {
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: clamp(266px, 82.6vw, 498px);

    // Tablet Breakpoint
    @media screen and (min-width: 768px) {
        width: clamp(498px, 64.7vw, 742px);
    }
}

.hero__ornamental_background {
    background-color: var(--slate-100);
    height: clamp(6.5rem, 27vw, 12rem);

    // Tablet Breakpoint
    @media screen and (min-width: 768px) {
        height: clamp(12rem, 24vw, 14.563rem);
    }
}

.hero__ornamental_curve {
    @include ornamental_path(1px);
    background-color: var(--purple-900);
    height: clamp(1.5rem, 6.3vw, 3rem);

    // Tablet Breakpoint
    @media screen and (min-width: 768px) {
        @include ornamental_path(3px);
        height: clamp(3.5rem, 7.1vw, 4.5rem);
    }

    // Desktop Breakpoint
    @media screen and (min-width: 1440px) {
        @include ornamental_path(4px);
    }
}

#hero__button {
    z-index: 1;
}