.hero {
    background-color: var(--slate-100);
    overflow: hidden;
    position: relative;
}

// This content div contains the hero heading and a primary link
// The bottom padding provides space between the content and the curved border
// The bottom margin expands the .hero section outside of .hero__content and provides space for the hero image, which has a position of absolute
.hero__content {
    @include curved-border-radii(clamp(23px, -5.626px + 7.634vw, 53px));
    align-items: center;
    background-color: var(--purple-900);
    color: var(--white);
    display: flex;
    flex-direction: column;
    margin-bottom: clamp(5.063rem, 1.604rem + 14.758vw, 8.688rem);
    padding: 56px 16px clamp(167px, 138.374px + 7.634vw, 197px);

    // Tablet Breakpoint
    // The height of the curved border is responsive
    // The height of .hero__content (and by extension .hero) is responsive via margin/padding 
    @media screen and (min-width: 768px) {
        @include curved-border-radii(clamp(53px, 35.857px + 2.232vw, 68px));
        margin-bottom: clamp(8.688rem, 6.83rem + 3.869vw, 10.313rem);
        padding-bottom: clamp(197px, 6.143px + 24.851vw, 364px);
    }
}

.hero__heading {
    font: 600 clamp(3rem, 2.284rem + 3.053vw, 3.75rem)/100% $font-fraunces;
    margin-bottom: 2.5rem;
    text-align: center;
    z-index: 1;

    span {
        text-decoration-color: var(--green);
        text-decoration-line: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: clamp(0.375rem, 0.017rem + 0.745vw, 0.688rem);
    }

    // Tablet Breakpoint
    @media screen and (min-width: 768px) {
        font-size: clamp(3.75rem, 2.321rem + 2.976vw, 5rem);
    }
}

// The hero image is positioned at the bottom of the .hero section
.hero__image {
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: clamp(320px, 133.931px + 49.618vw, 515px);
    max-width: 86vw;

    // Tablet Breakpoint
    @media screen and (min-width: 768px) {
        width: clamp(515px, 227px + 37.5vw, 767px);
    }
}