@mixin curved-border-radii($height) {
    border-bottom-left-radius: 50% $height;
    border-bottom-right-radius: 50% $height;
}

@mixin equal_height_and_width($size) {
    height: $size;
    width: $size;
}