.navigation {
    align-items: flex-end;
    background-color: var(--purple-900);
    display: flex;
    height: 4.188rem;
    justify-content: center;

    .navigation__content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: clamp(18.125rem, 89.3vw, 42.5rem);
    }

    .navigation__logo {
        @extend .workit_logo_dimensions;
    }

    // Tablet Breakpoint
    @media screen and (min-width: 768px) {
        height: clamp(4.188rem, 8.6vw, 5.688rem);

        .navigation__content {
            width: clamp(42.5rem, 88.4vw, 70rem);
        }
    }
}