.value {
    background-color: var(--slate-100);

    ol {
        counter-reset: value;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-left: 0;
        

        li {
            align-items: center;
            color: var(--slate-900);
            counter-increment: value;
            display: flex;
            flex-direction: column;
            text-align: center;
    
            span {
                font-family: $font-fraunces;
                font-size: clamp(1.5rem, 6.3vw, 1.75rem);
                font-weight: 600;
                line-height: 120%;
                margin-bottom: 1rem;
            }
    
            p {
                font-size: 1rem;
                font-family: $font-manrope;
                line-height: 180%;
            }
    
            // Tablet Breakpoint
            @media screen and (min-width: 768px) {
                span {
                    font-size: clamp(1.75rem, 3.5vw, 2rem);
                }
    
                p {
                    font-size: clamp(1rem, 1.9vw, 1.125rem);
                }
            }

            &:before {
                align-items: center;
                border: 1px solid var(--slate-500);
                border-radius: 50%;
                content: counter(value);
                display: flex;
                font-family: $font-fraunces;
                font-size: 1.25rem;
                font-weight: 600;
                height: 3rem;
                justify-content: center;
                margin-bottom: 1.5rem;
                width: 3rem;
            }
        }
    }

    .value__ornamental_background {
        background-color: red;
        height: clamp(1.5rem, 6.3vw, 3rem);
        position: relative;

        // Tablet Breakpoint
        @media screen and (min-width: 768px) {
            height: 4.5rem;
        }
    }

    .value__ornamental_curve {
        background-color: var(--slate-100);
        clip-path: ellipse(50% calc(100% - 1px) at top);
        height: 100%;
    }
}