// The bottom padding expands the .value section outside of .value__content and provides a (very small) space after the curved border
.value {
    background-color: var(--white);
    padding-bottom: clamp(1px, -1.863px + 0.763vw, 4px);
}

// This content div contains the value list
// The bottom padding provides space between the content and the curved border
.value__content {
    @include curved-border-radii(clamp(23px, -19.939px + 11.45vw, 68px));
    background-color: var(--slate-100);
    display: flex;
    justify-content: center;
    padding: 64px 20px clamp(87px, 44.061px + 11.45vw, 132px);

    // Tablet Breakpoint
    @media screen and (min-width: 48rem) {
        padding: 56px 44px 112px;
    }

    // Desktop Breakpoint
    @media screen and (min-width: 90rem) {
        padding: 88px 0 212px;
    }
}

.value__list {
    counter-reset: value;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 0;

    // Desktop Breakpoint
    @media screen and (min-width: 90rem) {
        flex-direction: row;
    }
}

// List items contain headings
.value__list_item {
    align-items: center;
    color: var(--slate-900);
    counter-increment: value;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 31.5rem;
    text-align: center;

    &:before {
        @include equal_height_and_width(3rem);
        align-items: center;
        border: 1px solid var(--slate-500);
        border-radius: 50%;
        content: counter(value);
        display: flex;
        font: 600 clamp(1.25rem, 0.964rem + 0.595vw, 1.5rem)/1.5 $font-fraunces;
        justify-content: center;
        min-width: 3rem;
    }

    // Tablet Breakpoint
    @media screen and (min-width: 48rem) {
        flex-direction: row;
        gap: 3.5rem;
        max-width: 59.5rem;
        text-align: left;
    }

    // Desktop Breakpoint
    @media screen and (min-width: 90rem) {
        flex-direction: column;
        text-align: center;
        max-width: 22rem;
    }
}

.value__heading {
    font: 600 clamp(1.5rem, 1.261rem + 1.018vw, 1.75rem)/120% $font-fraunces;
    margin-bottom: clamp(16px, 4.55px + 3.053vw, 28px);

    // Tablet Breakpoint
    @media screen and (min-width: 48rem) {
        font-size: clamp(1.75rem, 1.464rem + 0.595vw, 2rem);
    }
}