// Variables for fonts and colors
$font-fraunces: 'Fraunces', sans-serif;
$font-manrope: 'Manrope', sans-serif;

:root {
    --green: #44FFA1;
    --purple-100: #FCF8FF;
    --purple-500: #584D62;
    --purple-900: #24053E;
    --slate-500: #584D62;
    --slate-900: #0f172a;
    --white: #fff;
}