@font-face {
    font-display: swap;
    font-family: 'Fraunces';
    src: url('../assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Manrope';
    src: url('../assets/fonts/manrope/Manrope-VariableFont_wght.ttf');
}

// Import SCSS partials
@import 'variables';
@import 'mixins';
@import 'reset';
@import 'screen-reader-only';
@import 'background-pattern';
@import 'logo';
@import 'link';
@import 'header';
@import 'hero';
@import 'value';
@import 'call-to-action';
@import 'footer';